.tu1 {
    
}
.logo {
    position: absolute;
    top: 27rem/@baseFontSize;
    left: 30rem/@baseFontSize;
    width: 137rem/@baseFontSize;
}
.lamp_r {
    position: absolute;
    top: 0;
    right: 0;
    width: 242rem/@baseFontSize;
}
.lamp_l {
    position: absolute;
    top: 160rem/@baseFontSize;
    left: 0;
    width: 133rem/@baseFontSize;
}
.lamp {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.lion_head {
    width: 100%;
    position: absolute;
    top: 78rem/@baseFontSize;
    left: 0;
}
.riddle {
    width: 100%;
    position: absolute;
    top: 375rem/@baseFontSize;
    left: 0;
    .riddle_content {
        width: 100%;
        height: 474rem/@baseFontSize;
        background: url(../images/riddle_content.png) no-repeat top center / 640rem/@baseFontSize 474rem/@baseFontSize;
        overflow: hidden;
        .wz_title {
            font-size: 68rem/@baseFontSize;
            line-height: 1.2;
            padding-top: 110rem/@baseFontSize;
            padding-left: 205rem/@baseFontSize;
        }
        .wz_content {
            font-size: 42rem/@baseFontSize;
            line-height: 1.2;
            padding-top: 50rem/@baseFontSize;
            padding-left: 200rem/@baseFontSize;
        }
    }
    .riddle_bottom {
        width: 100%;
    }
}
.start,.next {
    position: absolute;
    top: 800rem/@baseFontSize;
    right: 10rem/@baseFontSize;
    width: 324rem/@baseFontSize;
}
ul{
    margin: 0;
    padding: 0;
}